altgraph==0.16.1
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
Automat==0.7.0
autopep8==1.4.4
baidu-aip==2.2.13.0
beautifulsoup4==4.7.1
binwalk==2.1.2
certifi==2018.11.29
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
comtypes==1.1.7
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
decorator==4.4.0
Django==2.1.7
docutils==0.14
dukpy==0.2.2
future==0.17.1
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
imageio==2.5.0
incremental==17.5.0
isort==4.3.20
javascripthon==0.10
jieba==0.39
Jinja2==2.10.1
joblib==0.13.2
jsonpath==0.81
jupyter-echarts-pypkg==0.1.2
Kivy==1.10.1
Kivy-examples==1.10.1
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.7
kivy.deps.glew==0.1.10
kivy.deps.gstreamer==0.1.13
kivy.deps.sdl2==0.1.18
kiwisolver==1.0.1
lazy-object-proxy==1.4.1
lml==0.0.2
lxml==4.3.2
macholib==1.11
macropy3==1.1.0b2
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
networkx==2.3
numpy==1.15.4+mkl
opencv-python==4.0.1
parsel==1.5.1
pefile==2018.8.8
Pillow==6.2.0
pipenv==2018.11.26
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
pydub==0.23.1
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.2.0
pyee==6.0.0
pygal==2.4.0
pygame==1.9.4
Pygments==2.3.1
PyHamcrest==1.9.0
PyInstaller==3.4
pylint==2.3.1
pymongo==3.8.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.3.0
pypiwin32==223
pyppeteer==0.0.25
PyQt5==5.11.3
PyQt5-sip==4.19.14
pyqt5-tools==5.11.3.1.4
pytesseract==0.2.6
python-dateutil==2.7.5
python-dotenv==0.10.1
pyttsx3==2.7
pytz==2018.9
PyWavelets==1.0.3
pywifi==1.1.12
pywin32==224
pywin32-ctypes==0.2.0
QtAwesome==0.5.7
QtPy==1.8.0
queuelib==1.5.0
rarfile==3.0
redis==3.3.5
reportlab==3.5.13
requests==2.21.0
scikit-image==0.15.0
scikit-learn==0.21.1
scipy==1.2.0rc1
Scrapy==1.6.0
scrapy-redis==0.6.8
selenium==3.141.0
service-identity==18.1.0
sip==4.19.8
six==1.11.0
soupsieve==1.8
speech==0.5.2
tqdm==4.31.1
Twisted==19.2.0
typed-ast==1.3.5
unrar==0.3
urllib3==1.24.1
uuid==1.30
virtualenv==16.4.3
virtualenv-clone==0.5.3
virtualenvwrapper-win==1.2.5
w3lib==1.20.0
webencodings==0.5.1
websockets==7.0
wrapt==1.11.1
zope.interface==4.6.0
